@CHARSET "UTF-8";

tr.pendente td {
}
tr.emitido td {
	color: #000099;
}
tr.pago td {
	color: #009900 !important;
}
tr.cancelado td {
	color: #990000;
}
tr.travado td {
	color: #990000;
}
tr.bloqueio td {
	background-color: #cccccc !important;
	color: #333333;
}

table.display td.group-open {
    border-top: 2px solid;
    border-bottom: 1px solid;
    font-weight: bold;
    padding: 8px 15px 8px;
    margin-bottom: 3px;
}
table.display td.group-close {
    border-bottom: 2px solid;
    border-top: 1px solid;
    font-weight: bold;
    padding: 3px 15px 10px;
    margin-top: 3px;
    white-space :nowrap;
}
