<?xml version="1.0" ?>
<module>
	<title>eXtended User Module</title>
	<author>André Kucaniz</author>
	<date>2011 05 23</date>
	<version>0.1</version>
	<description>Este módulo é usado para gerenciar os usuários, de forma extendida ao módulo geral de usuários do SysClass.</description>
	<className>module_xuser</className>
</module>