.buildpath
.project
/backup/*
/upload/*
/upload.*
/boletos
/cache
.settings/*
libraries/language/*
files/*
files-private/*
www/doc/*
/logs
/build/api/*
/build/code-browser/*
/build/dist/*
/build/logs/*
/build/pdepend/*
