body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 36px !important;
}
h2 {
  font-size: 24px !important;
}
h3 {
  font-size: 18px !important;
}
h4 {
  font-size: 16px !important;
}
h5 {
  font-size: 14px !important;
}
h6 {
  font-size: 12px !important;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}
.btn-primary {
  background-color: #1976d2;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #1565c0;
}
.no-padding {
  padding: 0 !important;
}
.content-bar-border-left {
  border-right: 1px solid #ddd;
  min-height: 590px;
}
.new-content-format .nav{
  height: 58px;
  font-weight: 100;
}
.new-content-format .nav-tabs {
  border-bottom: none !important;
}
.new-content-format .nav-tabs li a {
  border-top: 1px solid #337ab7;
  border-right: 1px solid #337ab7;
  border-left: 0 solid #337ab7;
  border-bottom: 1px solid #337ab7;
  border-radius: 0 !important;
  margin: 0;
  font-size: 14px;
  color: #337ab7;
}
.new-content-format .nav-tabs li:first-child a {
  border-left: 1px solid #337ab7 !important;
}
.new-content-format .nav-tabs .active a, .new-content-format .nav-tabs>li.active>a, .new-content-format .nav-tabs>li.active>a:focus {
  background: #337ab7;
  color: #fff;
  border-right: 1px solid #337ab7;
  border-top: 1px solid #337ab7;
  border-left: 0px solid #337ab7;
  border-bottom: 1px solid #337ab7;
}
.new-content-format .nav-tabs li a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #2e83cc;
  border-right: 1px solid #337ab7;
  border-top: 1px solid #337ab7;
  border-left: 0px solid #337ab7;
  border-bottom: 1px solid #337ab7;
}
.new-content-format .nav-tabs .active:first-child a:hover {
  border-left: 1px solid #337ab7;
}
.new-content-format .navbar-right {
  margin-right: 0;
}
.new-content-format .navbar-right .dropdown .dropdown-toggle {
  border: 1px solid #ddd;
  color: #bababa;
}
.new-content-format .navbar-right .dropdown-menu {
  border-radius: 0 !important;
  font-size: 12px;
}

.for-number-display {
  float: right;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-right: 0;
  color: #ddd;
  font-weight: lighter;
}
.displaybread {
  float: left;
  width: 100%;
  background: #f1f1f1;
  font-size: 10px;
  padding: 5px 10px;
  color: #4d4d4d;
  margin-bottom: 12px;
}
.courses-super-nav.col-md-1 {
  min-height: inherit !important;
  width: 6.888888% !important;
}
.courses-super-nav .navbar-left {
  width: 100%;
}
.courses-super-nav .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 13px;
}
.courses-super-nav ul > .active > a {
  background: #337ab7;
  color: #fff;
}
.courses-super-nav ul > .active.open > a {
  background: #337ab7;
  color: #fff;
}
.courses-super-nav .dropdown-menu {
  border-radius: 0;
  padding: 10px 0;
}
.courses-super-nav .dropdown-menu>li>a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 12px;
}
.courses-super-nav .nav > .active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #337ab7;
  position: absolute;
  top: 13px;
  right: -5px;
}

.course-tab-onout {
  background: #005999;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  height: 42px;
  margin-bottom: 15px;
  cursor: pointer;
}
.secure-tap {
  width: 48px;
  padding-top: 4px;
  float: left;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
  opacity: 1;
  background: #014373;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.secure-tap.closed {
  background: #ff3b30;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.secure-tap .one {
  transform: rotate(0deg);
  position: relative;
  top: 0px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.secure-tap .two {
  opacity: 1;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.secure-tap .three {
  transform: rotate(0deg);
  position: relative;
  top: 0px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.closed .one {
  transform: rotate(46deg);
  position: relative;
  top: 9px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.closed .two {
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.closed .three {
  transform: rotate(-46deg);
  position: relative;
  top: -9px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.outer-line-tap {
  float: left;
  width: 28px;
  height: 2px;
  background: #fff;
  margin-top: 7px;
  margin-right: 10px;
}
.click-desp {
  float: left;
  margin-top: 8px;
}
.removed {
  display: none;
}

.new-content-trick.col-md-11 {
  padding-right: 0 !important;
}
.new-content-tabs.col-md-12 .vjs-auto-height {
  max-height: 640px;
}

/* INDEX 2 */

.inter-navsuper {
  background: #1565c0;
}
.inter-navsuper .nav-tabs li a {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
}
.inter-navsuper-tabs .table {
  margin-bottom: 0;
}
.inter-navsuper-tabs .tab-content {
  border: 1px solid #ddd;
  height: 430px;
  max-height: 430px;
}
.inter-navsuper-tabs .table-tab {
  border-top: 1px solid #ddd;
  display: -webkit-box;
}
.inter-navsuper-tabs .table-tab:first-child {
  border-top: none;
}
.inter-navsuper-tabs .table>thead>tr>th {
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  color: #969696;
  text-transform: uppercase;
  font-weight: lighter;
}
.inter-navsuper-tabs .table>tbody>tr>td:first-child .fa-eye {
  text-align: center;
}
.inter-navsuper-tabs .table>tbody>tr>td> a .fa-eye {
  font-size: 16px;
  margin: 12px 6px 12px 16px;
  color: #9c9a9a;
  float: left;
  cursor: pointer;
}
.inter-navsuper-tabs .table>tbody>tr>td>.at-difinf{
  float: left;
  font-size: 12px;
  color: #b0b0b0;
  font-weight: lighter;
  width: 100%;
}
.inter-navsuper .fa {
  margin:2px 11px 2px 0px;
}
.inter-navsuper .progress-indicator .fa {
  margin:2px 2px 2px 0px;
}

.inter-navsuper .nav-tabs>li.active>a, .inter-navsuper .nav-tabs>li.active>a:focus, .inter-navsuper .nav-tabs>li.active>a:hover {
  background: #1976d2;
  color: #fff;
  margin: 0;
  border-left: 0;
  border-top: 0;
  border-right: 1px solid rgba(255,255,255,0.1);
}
.inter-navsuper .nav-tabs>li>a:hover {
  background: #1e88e5;
  color: #fff;
}
.inter-navsuper .nav-tabs {
  border: none;
  margin: 0;
}
.inter-navsuper .nav-tabs>li>a {
  border-radius: 0;
  margin: 0;
  border-left: 0;
  border-top: 0;
  border-right: 1px solid rgba(255,255,255,0.1);
  cursor: pointer;
}
.inter-navsuper .nav-tabs>li>a:hover {
  border-radius: 0;
  margin: 0;
  border-left: 0;
  border-top: 0;
}
.inter-navsuper-tabs .table>tbody>tr>td, .inter-navsuper-tabs .table>tbody>tr>th, .inter-navsuper-tabs .table>tfoot>tr>td, .inter-navsuper-tabs .table>tfoot>tr>th {
  padding: 15px 8px;
  font-size: 13px;
  vertical-align: middle;
}
.inter-navsuper-tabs .alert {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 0;
  display: table;
  width: 100%;
}
.inter-navsuper-tabs .nota-tal {
  font-size: 18px !important;
  font-weight: 600;
}
.inter-navsuper-tabs .pendente, .inter-navsuper-tabs .concluido, .inter-navsuper-tabs .andamento, .inter-navsuper-tabs .fechado, .inter-navsuper-tabs .avalialbe {
  padding: 0;
  border-radius: 50%;
  color: #fff;
  font-weight: lighter;
}
.inter-navsuper-tabs .pendente-tag, .inter-navsuper-tabs .concluido-tag, .inter-navsuper-tabs .andamento-tag, .inter-navsuper-tabs .fechado-tag, .inter-navsuper-tabs .avalialbe-tag {
  background: #eeeeee;
  border-radius: 30px;
  color: #807f7f;
  font-weight: lighter;
  font-size: 12px;
  padding: 2px 15px;
  border: 1px solid #ddd;
  margin-right: 10px;
  float: left;
}
.inter-navsuper-tabs .pendente-tag .pendente, 
.inter-navsuper-tabs .concluido-tag .concluido, 
.inter-navsuper-tabs .andamento-tag .andamento, 
.inter-navsuper-tabs .fechado-tag .fechado, 
.inter-navsuper-tabs .avalialbe-tag .avalialbe {
  padding: 0;
  width: 7px;
  height: 7px;
  float: right;
  display: table-row-group;
  position: relative;
  top: 5px;
  right: -7px;
}
.inter-navsuper-tabs .pendente-tag .pendente {
  background: #ff3b30;
} 
.inter-navsuper-tabs .concluido-tag .concluido {
  background: #05ae0e;
}
.inter-navsuper-tabs .andamento-tag .andamento {
  background: #ff9500;
}
.inter-navsuper-tabs .fechado-tag .fechado {
  background: #5d5d5d;
}
.inter-navsuper-tabs .avalialbe-tag .avalialbe {
  background: #2ca8ff;
}
.inter-navsuper-tabs .pendente {
  color: #ff3b30;
}
.inter-navsuper-tabs .pendente i {
  font-size: 16px;
}
.inter-navsuper-tabs .concluido {
  color: #05ae0e;
}
.inter-navsuper-tabs .concluido i {
  font-size: 16px;
}
.inter-navsuper-tabs .andamento {
  color: #ff9500;
}
.inter-navsuper-tabs .andamento i {
  font-size: 16px;
}
.inter-navsuper-tabs .fechado {
  color: #5d5d5d;
}
.inter-navsuper-tabs .fechado i {
  font-size: 16px;
}
.inter-navsuper-tabs .avalialbe {
  color: #1976d2;
}
.inter-navsuper-tabs .avalialbe i {
  font-size: 16px;
}
.unit-table .fa {
  font-size: 16px;
}
.inter-navsuper-tabs input {
  width: 90%;
  background: transparent;
  border: none;
  font-style: italic;
  font-size: 24px;
  font-weight: lighter;
}
.inter-navsuper-tabs .btn {
  /*
  font-size: 12px;
  text-transform: uppercase;
  font-weight: lighter;
  border-radius: 0;
  margin-top: 4px;
  */
}
.dir-menu-bar {
  float: right;
  background: #2ca8ff;
  padding: 0;
  margin: 0;
}
.dir-menu-bar .fa {
  margin: 0 !important;
  font-size: 19px;
}
.dir-menu-bar li {
  float: right;
  list-style: none;
  display: flex;
}
.dir-menu-bar li a {
  border-left: 1px solid #fff;
  padding: 12px 13px;
  color: #fff;
  width: 45px;
  height: 42px;
  text-align: center;
}
.inter-navsuper-tabs h3 {
  font-size: 18px;
  padding: 8px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  margin-top: 0;
}

/*MODAL*/
.new-modal-v .modal-dialog {
  width: 100%;
  margin: 0;
}
.new-modal-v {
  padding: 0 !important;
}
.new-modal-v .modal-content {
    border-radius: 0 !important;
}
.new-modal-v .modal-body {
  /* height: 100vh; */
  padding-left: 0;
  padding-right: 0;
}
.new-modal-v .modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 20px;
  margin-bottom: 10px;
}
.new-modal-v .vjs-auto-height {
    width: 100% !important;
    max-height: 641px;
}
.new-modal-v .bg-modal-black {
  background: #000;
}
.new-modal-v .displaybread {
  float: left;
  width: 100%;
  background: #f1f1f1;
  font-size: 10px;
  padding: 5px 10px;
  color: #4d4d4d;
  margin-bottom: 0;
}
.new-modal-v button.close-btn {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  background: #ff3b30;
  opacity: 1;
  color: #fff;
  text-shadow: none;
  padding: 10px 14px;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 0 !important;
}
.new-modal-v .navbar-right {
  float: right!important;
  margin-right: 0;
  position: relative;
  top: -2px;
}
.new-modal-v .navbar-nav>li>a {
    padding-top: 11px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}




/** AJUSTES PARA NOVO VIDEO */
/*
.content-container .unit-video-container, .content-container .unit-material-container {
  transition: all 1s linear 0s;
}
.content-container .unit-video-container {
  float: left;
  width: 75%;
}
.content-container .unit-material-container {
  float: right;
  overflow: hidden;
  width: 25%;
}

.content-container.full-video .unit-video-container {
  width: 100%;
}
.content-container.full-video .unit-material-container {
  width: 0%;
}


.content-container .close-content-sidebar {
  float: right;
  margin: 10px;
  font-size: 130%;
}

.content-container .unit-video-container.pop-out .vjs-auto-height {
}

.content-container .unit-video-container.pop-out-start .videocontent {
}
*/
.content-container .unit-video-container.pop-out-start .vjs-auto-height {
  /* max-height: 168.75px; */
  /*
  opacity: 0;
  transition: all 0.5s linear 0s;
  width: 300px !important;
  */
}
.content-container.full-video .unit-video-container.pop-out  {
  /* height: 617px; */
}
.content-container .unit-video-container.pop-out  {
  /* height: 462px; */
}


.content-container .pop-out .popupcontent {
  position: fixed;
  left: auto;
  right: 1vw;
  bottom: 1vw;
  width: 48vw;
  /* border: 2px solid #444; */
  border-radius: 10px;
  opacity : 1 !important;
  transition: opacity 1s linear 0s;
  z-index: 101;
  background-color: #fff;
}
.content-container .unit-material-container.pop-out .popupcontent {
  left: 1vw;
  right: auto;
  z-index: 100;
}
.content-container .popupcontent .popupcontent-header {
  border: 1px solid #ddd;
  cursor: move;
  margin: 0;
  text-align: left;
}
.content-container .popupcontent .popupcontent-header .popup-header-buttons {
  float: right;
}

.content-container .popupcontent .popupcontent-body {
  width: 100% !important;
  transition: all 1s linear 0s;
  max-height: 28vw;

  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.content-container .vjs-auto-height {
  height: 27vw;
  width: 100% !important;
}


.content-container .popupcontent.popup-minimized {
  width: 16vw;
  right: 1vw !important;
  bottom: 1vw !important;
  top: auto !important;
  left: auto!important;
}

.content-container .popupcontent.popup-minimized .popupcontent-header .minimize-action {
}

.content-container .popupcontent.popup-minimized .popupcontent-header .navbar-nav {
  display: none;
}

.content-container .popupcontent.popup-minimized .popupcontent-body {
  max-height: 9.9vw;
}

.content-container .popupcontent.popup-minimized .popupcontent-body .vjs-auto-height {
  height: 9vw;
}


/*
.content-container .unit-video-container.pop-out .videocontent .videocontent-header {
    padding: 0 5px 4px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    cursor: move;
}
*/
.vjs-poster, .video-js {
  background-color: #fff;
}

.no-padding-sides {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-resizable-helper { border: 2px dotted #00F; }

.unit-table tbody tr td:first-child {

}
#tab_course_units .navbar-nav > li > a, #tab_program_courses .navbar-nav > li > a, #tab_program_description .navbar-nav > li > a {
    padding-bottom: 2px;
    padding-top: 2px;
    padding: 9px 10px;
}
#tab_course_units .navbar-right, #tab_program_courses .navbar-right, #tab_program_description .navbar-right {
    float: right !important;
    margin-right: 0 !important;
}
#tab_course_units .navbar-default .navbar-nav > .open > a, #tab_course_units .navbar-default .navbar-nav > .open > a:hover, #tab_course_units .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}
#tab_course_units .label-danger, #tab_program_courses .label-danger, #tab_program_description .label-danger {
 background-color: #0d47a1 !important;
}
.label-danger, .badge-danger {
  background-color: #0d47a1;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.panel-body h2 {
  margin: 14px 0 17px;
  font-weight: 600;
}
.panel-body h2 small {
  font-weight: lighter;
}



