@CHARSET "UTF-8";
#xcontent_content_tree, #xcontent_content_tree ul {
	padding: 0 0 0 10px;
}
.xcontentAlreadyScheduled {
	border: 1px solid #000;
}
.xcontentNoScheduled span {
	color: #993333;
}
.xcontentAlreadyScheduled span {
	color: #339933;
}
.xcontentAlreadyScheduled div{
	font-style: italic;
}
.xcontentSelected {
	font-weight: bold;
}

.xcontentRequired span {
	color: #993333;
}
.xcontentNoRequired span {
	color: #339933;
}