@CHARSET "UTF-8";

li.gradebook-course {
	padding: 10px 0;
	margin: 5px 0;
}

li.gradebook-course-lesson {
	padding: 10px 0;
	margin: 5px 0;
}
.collapse-title {
    margin: 6px 5px 3px;
    padding: 2px;
}

li.gradebook-course .collapse-title {
	font-size: 1.2em;
	border-bottom: 1px solid #aaaaaa;
}
li.gradebook-course-lesson .collapse-title {
	font-size: 1.1em;
	border-bottom: 1px solid #cccccc;
}

.gradebook-tree-indicator {
	margin-right: 10px;
}

.collapse-content {
	display: none;
	margin: 5px;
	padding: 4px;
}
	
li.gradebook-course-lesson .collapse-content {
}