<?xml version="1.0" ?>
<module>
	<title>Módulo para controle de pagamentos</title>
	<author>ANDRE KUCANIZ</author>
	<date>2011 01 13</date>
	<version>1.0</version>
	<description>Este módulo tem como função de controlar as pendências financeiros dos usuários</description>
	<className>module_pagamento</className>
</module>
