<?xml version="1.0" ?>
<module>
	<title>Módulo para controle de pagamentos</title>
	<author>ANDRE KUCANIZ</author>
	<date>2012 01 19</date>
	<version>0.1</version>
	<description>Este módulo tem como função de controlar as pendências financeiros dos usuários</description>
	<className>module_xpay</className>
</module>
