<?xml version="1.0" ?>
<module>
	<title>eXtended Course Class Module</title>
	<author>André Kucaniz</author>
	<date>2012 03 14</date>
	<version>0.1</version>
	<description>Este módulo é usado para gerenciar as turmas, de forma extendida ao módulo geral de cursos/lições do SysClass.</description>
	<className>module_xclasse</className>
</module>
