<?xml version="1.0" ?>
<module>
	<title>eXtended Content Module</title>
	<author>André Kucaniz</author>
	<date>2011 11 24</date>
	<version>0.1</version>
	<description>Este módulo é usado para criar novas formas de visualização do conteúdo existente. Desde páginas customizadas de resultados, até configuração de e-mails baseados em resultado.</description>
	<className>module_xcontent</className>
</module>
