* {
	font-family: 'Open Sans', sans-serif;
}
@page {
	background-image: url('/assets/sysclass.demo/img/certificate/background.jpeg');
	background-position: center top;
	background-image-resize: 6;

    margin-top: 56mm;
    margin-left: 0.0em;
    margin-right: 0.0em;
    margin-bottom: 0.0em;

    footer: html_footer;
}

body {
	background-repeat: no-repeat;
	background-position: center top;
	color: #1e4a5f;
	
}

.container {
	text-align: center;
	font-size: 24px;
}

p {
	margin: 0px;
	padding: 0 0 5px;
	text-transform: uppercase;
}

p.big-text {
	font-size: 42px;
	font-weight: bold;
	text-transform: none;
}

.identifier {
	border: 2px solid #1e4a5f;
	text-align: center;
	font-size: 15px;
	margin: auto;
	padding: 5px;	
}
