/* here you can put your own css to customize and override the theme */

.well .pagination {
    margin: -9px 0 0;
}

hr {
	margin: 10px;

}
.full-height {
	height: 100%;
}

@media (max-width: 767px) {

	.page-boxed .header .dropdown .username {
		display: none;
	}	

}
.portlet > .portlet-title > .caption a {
	color: white;
	text-decoration: underline;
}
.portlet > .portlet-title > .tools a.glyphicon {
  	margin-bottom: 2px;
	top: -3px;
	width: 14px;
	color: gray;
}
.portlet.box > .portlet-title > .tools a.glyphicon,
.portlet.solid > .portlet-title > .tools a.glyphicon {
	color: white;
	text-decoration: none;
}


.popover-content {
    padding: 9px 5px;
}

.chats li .title {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.chats li.out {
	margin-bottom: 20px;
}

/* MODULES CSS */
#news-widget .username-badge {
	display: none;
}
.portlet-fullscreen#news-widget .username-badge {
	display: block;
}

#off-windows {
	width: 100%;
	position: fixed;
	bottom: 0;
}
.chat-widget {
	float: right;
	margin-left: 5px;
    margin-right: 0;
	width: 250px;
	min-height: 1px;
}

.chat-widget .portlet {
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    width: 250px;
    z-index: 101;
}

.chat-widget li:first-child {
	padding-top: 5px;
}
.chat-widget .send-block {
	margin-top: 10px;
	padding-right: 10px;
}
.chat-widget .portlet-body {
	padding-right: 0 !important;
	padding-top: 0 !important;
}
.chat-widget .chat-contents .status {
	font-style: italic;
	font-size: 90%;
}
#users-panel .profile-edit {
    margin: 0 15px 0 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
}
.dashboard-stat-col-5 .dashboard-stat {
	float: left;
    margin: 0 1% 12px;
    width: 18%;
}
.dashboard-stat .visual.center {
    float: none;
    padding-left: 0;
    width: auto;
    text-align: center;
}

.dashboard-stat.small .visual {
    height: 55px;
}

.dashboard-stat.small .visual i {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
}
.navbar-nav.nopadding > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}
.tabbable-custom .nav-tabs > li { 
	margin-right: 0px;
}