/* here you can put your own css to customize and override the theme */
.page-content {
    padding: 20px 20px 20px;
}
.page-boxed {
    background-color: #E8E8E8 !important;
}
.page-boxed .page-container {
    background-color: #1570A6;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.header {
    background-color: #003355 !important;
    background-image: none !important;
    filter: none !important;
}

.header .navbar-nav li.dropdown .dropdown-toggle i {
    color: #ffffff !important;
}


.portlet.box.dark-blue {
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}

.easy-pie-chart .number {
    display: inline-block;
}
.easy-pie-chart .title {
    display: inline;
 }

.well .pagination {
	margin: -9px 0 0;
}

hr {
	margin: 10px 0;

}
.full-height {
	height: 100%;
}



@media (max-width: 767px) {

	.page-boxed .header .dropdown .username {
		display: none;
	}	

}
.portlet > .portlet-title > .caption a {
	color: white;
	text-decoration: underline;
}
.portlet > .portlet-title > .tools a.glyphicon {
	margin-bottom: 2px;
	top: -3px;
	width: 14px;
	color: gray;
}
.portlet.box > .portlet-title > .tools a.glyphicon,
.portlet.solid > .portlet-title > .tools a.glyphicon {
	color: white;
	text-decoration: none;
}


.popover-content {
	padding: 9px 5px;
}

.chats li .title {
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	display: block;
}
.chats li.out {
	margin-bottom: 20px;
}

/* MODULES CSS */
#news-widget .username-badge {
	display: none;
}
.portlet-fullscreen#news-widget .username-badge {
	display: block;
}

#off-windows {
	width: 100%;
	position: fixed;
	bottom: 0;
}
.chat-widget {
	float: right;
	margin-left: 5px;
	margin-right: 0;
	width: 250px;
	min-height: 1px;
}

.chat-widget .portlet {
	bottom: 0;
	margin-bottom: 0;
	position: absolute;
	width: 250px;
	z-index: 101;
}

.chat-widget li:first-child {
	padding-top: 5px;
}
.chat-widget .send-block {
	margin-top: 10px;
	padding-right: 10px;
}
.chat-widget .portlet-body {
	padding-right: 0 !important;
	padding-top: 0 !important;
}
.chat-widget .chat-contents .status {
	font-style: italic;
	font-size: 90%;
}
#users-panel .profile-edit {
	margin: 0 15px 0 0;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
}
.dashboard-stat-col-5 .dashboard-stat {
	float: left;
	margin: 0 1% 12px;
	width: 18%;
}
.dashboard-stat .visual.center {
	float: none;
	padding-left: 0;
	width: auto;
	text-align: center;
}

.dashboard-stat.small .visual {
	height: 55px;
}

.dashboard-stat.small .visual i {
	color: #FFFFFF;
	font-size: 40px;
	line-height: 40px;
}
.navbar-nav.nopadding > li > a {
	padding-bottom: 15px;
	padding-top: 15px;
}
.tabbable-custom .nav-tabs > li { 
	margin-right: 0px;
}
.icon-btn {
	padding: 10px 0 0;
	height: 80px;
	min-width: 100px;
}
.icon-btn i {
	font-size: 30px;
	line-height: 30px;
}
.icon-btn div {
	margin: 10px 0px;
}
h4.border-bottom {
	border-bottom: 1px solid #ddd;
}
.page-content .page-breadcrumb.breadcrumb {
	margin-bottom: 0;
	margin-top: 0;
	min-height: 37px;
}

.bootstrap-timepicker table td input {
	margin: 0;
	text-align: center;
	width: 33px !important;
	padding: 5px;

	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 0;
	box-shadow: none;
	color: #333333;
	/* font-size: 14px; */
	font-weight: normal;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.ajax-loader {
    padding: 4px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 9996;
    text-align: center;
}
.ajax-loader .inner-ajax-loader {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    margin: auto;
    padding: 4px 1%;
    position: relative;
    text-decoration: none;
    top: 0;
/*    width: 10%; */
    z-index: 100;
    display: inline;
}

.ajax-loader span {
	margin-left: 10px;

}

.header .navbar-brand {
	padding: 10px 0 0;
}
.header .navbar-brand img {
	height: 29px;
	margin-left: 0;
}
.page-boxed .header .navbar-brand img {
	margin-left: 0;
}
.ver-inline-menu.message-recipient-group li.active:after {
	border-bottom: 0;
	border-left: 0;
	border-top: 0;
}
#courses-content-navigation ul.breadcrumb {
	padding: 0;
}

.content-navigation-bar {
	list-style: none outside none;
	padding: 0;
}
.content-navigation-bar > li {
	display: inline-block;
}
.portlet.box > .portlet-body.nopadding {
	padding: 0;
}

.panel-dark-blue {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color #B4CEF8 #B4CEF8;
	border-image: none;
	border-right: 1px solid #B4CEF8;
	border-style: none solid solid;
	border-width: 0 1px 1px;
}

.panel-dark-blue > .panel-heading {
	background-color: #005999;
	border-color: #005999;
	color: #FFFFFF;
	padding: 5px 10px 7px;
}

.ver-inline-menu li.active i {
	background-color: #005999 !important;
}

.ver-inline-menu li.active a {
	border-left-color: #005999;
}
.ver-inline-menu li.active a {
	background: none repeat scroll 0 0 #428BCA;
}

.content-navigation-bar .btn.lesspadding {
	padding-left: 5px;
	padding-right: 5px;
}

.btn-group-fixed-size {
	
}
.btn-group-fixed-size span {
	display: block;
	text-align: left;
}
.btn-group-fixed-size span i {
	width: 20px;
	display: inline-block;
	text-align: center;
}
.list-fixed-size {

}
.list-fixed-size strong {
	width: 38%;
	display: inline-block;
}
.list-fixed-size span {
	width: 60%;
}
.tabbable-left .portlet-tabs > .nav-tabs {
	margin-right: 50px;
}
.tabbable-left .portlet-tabs > .nav-tabs > li {
	float: left;
	max-width: 40%;
}

.tabbable-left .portlet-tabs > .nav-tabs .dropdown-menu {
    z-index: 1001;
}

.tabbable-left .portlet-tabs > .nav-tabs > li.open > a, .tabbable-left .portlet-tabs > .nav-tabs > li.open > a:hover, .tabbable-left .portlet-tabs > .nav-tabs > li.open > a:focus {
	background-color: #F9F9F9;
	color: #555555;
}

/*
.tabbable-left .portlet-tabs > .tab-content  {
	position: relative;
	top: -30px;
}
*/
.tabbable-left .portlet-tabs > .nav-tabs > li .nav-button  {
	float: left;
	cursor: pointer;
}
.tabbable-left .portlet-tabs > .nav-tabs > li .nav-title  {
	float: left;
	overflow: hidden;
	white-space: nowrap;
}

.tabbable-left .portlet-tabs > .nav-tabs > li > a {
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
    padding: 0 22px;
    display: inline-block;
}
.tabbable-left .portlet-tabs > .nav-tabs > li.active > a {
    background-color: #F9F9F9;
}
/*
.portlet-tabs {
	float: left;
	height: 0;
}
*/
.portlet-tabs > .nav-tabs > li.nav-text > a {
	padding-left: 2px;
	padding-right: 2px;
}
.portlet-tabs > .nav-tabs > li.nav-previous > a {
	padding-left: 5px;
	padding-right: 0px;
}
.portlet-tabs > .nav-tabs > li.nav-next > a {
	padding-left: 0px;
	padding-right: 5px;
}

.tabbable-left .portlet-tabs > .tab-content {
    margin-top: -40px !important;
    padding: 0 !important;
}



.nav-prev-action i, .nav-next-action i {
	font-weight: bold;
}

.portlet.box.tabbable-left > .portlet-title > .tools {
    margin-top: 6px;
}

.dropdown.user img {
	margin-right: 6px;
}

h3.course-title, h3.class-title, h3.lesson-title {
	margin-top: 10px;
	margin-bottom: 20px;
}

.navbar {
	margin-bottom: 10px;
    min-height: 24px;
}
.navbar-brand {
    padding: 0 8px;
    font-size: 12px;
    line-height: 24px;
}
.navbar-nav > li > a {
    padding-bottom: 2px;
    padding-top: 2px;
}

/* BOOTSTRAP CUSTOM OPTIONS */
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.page-content .page-breadcrumb.breadcrumb .btn-group {
    right: 10px;
}

/* MODULE CSS */
/* INSTITUTION */
#institution-chat-list {
	min-height: 30px;
}



.tlyPageGuideWelcome, #tlyPageGuideWelcome {
	height: 450px;
	width: 600px;
	max-width: 600px;
	padding: 20px 30px 50px;
	line-height: 25px;
}
.tlyPageGuideWelcome ul {
	padding: 0;
}
.tlyPageGuideWelcome li {
	padding: 10px 0;
}

.btn .list-group-item-text {
	text-align: left;
	padding-left: 10px;
}
.draggable {
	cursor: move;
}
ul.list-group.empty-list-group {
    border: 1px dashed #333333;
    height: 34px;
} 

ul.list-group.empty-list-group.ui-sortable-hover {
	background-color: #ff0000;
}
.portlet-tabs > .nav-tabs .dropdown-menu {
	overflow: visible;
}
.courses-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#users-panel h3 {
	margin-top: 5px;
}

.extended.notification {
	min-width: 300px !important;
}


/* INSTITUTION MODULE */
.social-gadgets {
    display: block; 
    position: fixed;
    right: 0;
    top: 84px;
    width: 55px;
    z-index: 1001;
    overflow: visible;
}
.social-gadgets.btn-group-vertical > .btn + .btn {
	margin-top: 0;
}
.social-gadgets a.btn i {
	font-size: 22px;
	font-weight: bold;
}
.social-gadgets a.btn {
	float: right;
	margin-top: 0;
	transition: width 0.3s ease-in-out 0s;
}
.social-gadgets a.btn:hover {
	width: 125%;
	max-width: 125%;
}

/* PAGEGUIDE RESPONSIVE */
@media (max-width:991px) { 
	.tlyPageGuideStepIndex {
		background: rgba(0, 89, 153, 1);
	}
	.tlyPageGuideStepIndex.tlypageguide_left {
		left: -10px;
		top: -10px;
		
	}
	.tlyPageGuideStepIndex.tlypageguide_left:after {
		border: none;
		right: 0;
		top: 0;
	}
	.tlyPageGuideStepIndex.tlypageguide_right {
		right: -10px;
		top: -10px;
	}
	.tlyPageGuideStepIndex.tlypageguide_right:after {
		border: none;
		left: 0;
		top: 0;
	}
}
@media (max-width: 767px) {
	.tabbable-left .portlet-tabs > .nav-tabs > li > a {
	    padding: 0 5px;
	}
}

.text-danger {
  color: #dd252b;
}

.btn-danger {
  color: #ffffff;
  background-color: #dd252b;
  border-color: #bc2925;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.default-stripe {
	border-left: 5px solid #eeeeee;
}
.warning-stripe {
	border-left: 5px solid #FCB322;
}
.info-stripe {
	border-left: 5px solid #57B5E3;
}
.success-stripe {
	border-left: 5px solid #3CC051;
}
.danger-stripe {
	border-left: 5px solid #ED4E2A;
}

@media (min-width: 1200px) {
	.visible-lg.inline {
		display: inline !important;
	}
	.hidden-md.inline {
		display: inline !important;
	}
	.hidden-sm.inline {
		display: inline !important;
	}
	.hidden-xs.inline {
		display: inline !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-lg.inline {
		display: inline !important;
	}
	.visible-md.inline {
		display: inline !important;
	}
	.hidden-sm.inline {
		display: inline !important;
	}
	.hidden-xs.inline {
		display: inline !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.hidden-lg.inline {
		display: inline !important;
	}
	.hidden-md.inline {
		display: inline !important;
	}
	.visible-sm.inline {
		display: inline !important;
	}
	.hidden-xs.inline {
		display: inline !important;
	}
}
@media (max-width: 767px) {
	.hidden-lg.inline {
		display: inline !important;
	}
	.hidden-md.inline {
		display: inline !important;
	}
	.hidden-sm.inline {
		display: inline !important;
	}
	.visible-xs.inline {
		display: inline !important;
	}
}