@CHARSET "UTF-8";

/*Image maps*/
.list-item-image {
	margin: 6px;
	float: right;
}

.sprite16 {background-image :url(../images/css_images/16x16map.png); width:16px; height:16px; vertical-align: middle;}
.sprite16-white {background-image :url(../images/css_images/16x16map-white.png); width:16px; height:16px;}
.sprite28 {background-image :url(../images/css_images/28x28map.png); width:28px; height:28px;}
.sprite32 {background-image :url(../images/css_images/32x32map.png); width:32px; height:32px;}

.sprite16-add { background-position: 0 0px; width: 16px; height: 16px; } 
.sprite16-analysis { background-position: 0 -17px; width: 16px; height: 16px; } 
.sprite16-arrow_left { background-position: 0 -34px; width: 16px; height: 16px; } 
.sprite16-arrow_right { background-position: 0 -51px; width: 16px; height: 16px; } 
.sprite16-attachment { background-position: 0 -68px; width: 16px; height: 16px; } 
.sprite16-autocomplete { background-position: 0 -85px; width: 16px; height: 16px; } 
.sprite16-bookmark { background-position: 0 -102px; width: 16px; height: 16px; } 
.sprite16-bookmark_add { background-position: 0 -119px; width: 16px; height: 16px; } 
.sprite16-branch { background-position: 0 -136px; width: 16px; height: 16px; } 
.sprite16-calendar { background-position: 0 -153px; width: 16px; height: 16px; } 
.sprite16-calendar_selection_all { background-position: 0 -170px; width: 16px; height: 16px; } 
.sprite16-calendar_selection_day { background-position: 0 -187px; width: 16px; height: 16px; } 
.sprite16-calendar_selection_month { background-position: 0 -204px; width: 16px; height: 16px; } 
.sprite16-calendar_selection_week { background-position: 0 -221px; width: 16px; height: 16px; } 
.sprite16-categories { background-position: 0 -238px; width: 16px; height: 16px; } 
.sprite16-certificate { background-position: 0 -255px; width: 16px; height: 16px; } 
.sprite16-chat { background-position: 0 -272px; width: 16px; height: 16px; } 
.sprite16-clock { background-position: 0 -289px; width: 16px; height: 16px; } 
.sprite16-close { background-position: 0 -306px; width: 16px; height: 16px; } 
.sprite16-comment_add { background-position: 0 -323px; width: 16px; height: 16px; } 
.sprite16-content { background-position: 0 -340px; width: 16px; height: 16px; } 
.sprite16-continue { background-position: 0 -357px; width: 16px; height: 16px; } 
.sprite16-copy { background-position: 0 -374px; width: 16px; height: 16px; } 
.sprite16-courses { background-position: 0 -391px; width: 16px; height: 16px; } 
.sprite16-edit { background-position: 0 -408px; width: 16px; height: 16px; } 
.sprite16-enterprise { background-position: 0 -425px; width: 16px; height: 16px; } 
.sprite16-error_delete { background-position: 0 -442px; width: 16px; height: 16px; } 
.sprite16-examples { background-position: 0 -459px; width: 16px; height: 16px; } 
.sprite16-examples_failed { background-position: 0 -476px; width: 16px; height: 16px; } 
.sprite16-examples_incomplete { background-position: 0 -493px; width: 16px; height: 16px; } 
.sprite16-examples_passed { background-position: 0 -510px; width: 16px; height: 16px; } 
.sprite16-export { background-position: 0 -527px; width: 16px; height: 16px; } 
.sprite16-facebook { background-position: 0 -544px; width: 16px; height: 16px; } 
.sprite16-feedback { background-position: 0 -561px; width: 16px; height: 16px; } 
.sprite16-feedback_failed { background-position: 0 -578px; width: 16px; height: 16px; } 
.sprite16-feedback_incomplete { background-position: 0 -595px; width: 16px; height: 16px; } 
.sprite16-feedback_passed { background-position: 0 -612px; width: 16px; height: 16px; } 
.sprite16-file_explorer { background-position: 0 -629px; width: 16px; height: 16px; } 
.sprite16-flag_blue { background-position: 0 -646px; width: 16px; height: 16px; } 
.sprite16-flag_green { background-position: 0 -663px; width: 16px; height: 16px; } 
.sprite16-flag_red { background-position: 0 -680px; width: 16px; height: 16px; } 
.sprite16-flag_yellow { background-position: 0 -697px; width: 16px; height: 16px; } 
.sprite16-folder { background-position: 0 -714px; width: 16px; height: 16px; } 
.sprite16-folder_add { background-position: 0 -731px; width: 16px; height: 16px; } 
.sprite16-folder_up { background-position: 0 -748px; width: 16px; height: 16px; } 
.sprite16-forbidden { background-position: 0 -765px; width: 18px; height: 16px; } 
.sprite16-forums { background-position: 0 -782px; width: 16px; height: 16px; } 
.sprite16-generic { background-position: 0 -799px; width: 18px; height: 16px; } 
.sprite16-glossary { background-position: 0 -816px; width: 16px; height: 16px; } 
.sprite16-go_back { background-position: 0 -833px; width: 16px; height: 16px; } 
.sprite16-go_into { background-position: 0 -850px; width: 16px; height: 16px; } 
.sprite16-goto_admin { background-position: 0 -867px; width: 16px; height: 16px; } 
.sprite16-goto_professor { background-position: 0 -884px; width: 16px; height: 16px; } 
.sprite16-goto_student { background-position: 0 -901px; width: 16px; height: 16px; } 
.sprite16-help { background-position: 0 -918px; width: 16px; height: 16px; } 
.sprite16-home { background-position: 0 -935px; width: 16px; height: 16px; } 
.sprite16-import { background-position: 0 -952px; width: 16px; height: 16px; } 
.sprite16-import_export { background-position: 0 -969px; width: 16px; height: 16px; } 
.sprite16-information { background-position: 0 -986px; width: 18px; height: 16px; } 
.sprite16-job_descriptions { background-position: 0 -1003px; width: 16px; height: 16px; } 
.sprite16-layout { background-position: 0 -1020px; width: 16px; height: 16px; } 
.sprite16-lessons { background-position: 0 -1037px; width: 16px; height: 16px; } 
.sprite16-lock { background-position: 0 -1054px; width: 16px; height: 16px; } 
.sprite16-logout { background-position: 0 -1071px; width: 16px; height: 16px; } 
.sprite16-mail { background-position: 0 -1088px; width: 16px; height: 16px; } 
.sprite16-message { background-position: 0 -1105px; width: 16px; height: 16px; } 
.sprite16-minus { background-position: 0 -1122px; width: 16px; height: 16px; } 
.sprite16-minus2 { background-position: 0 -1139px; width: 16px; height: 16px; } 
.sprite16-navigate_down { background-position: 0 -1156px; width: 16px; height: 16px; } 
.sprite16-navigate_left { background-position: 0 -1173px; width: 16px; height: 16px; } 
.sprite16-navigate_right { background-position: 0 -1190px; width: 16px; height: 16px; } 
.sprite16-navigate_up { background-position: 0 -1207px; width: 16px; height: 16px; } 
.sprite16-order { background-position: 0 -1224px; width: 16px; height: 16px; } 
.sprite16-organization { background-position: 0 -1241px; width: 16px; height: 16px; } 
.sprite16-out { background-position: 0 -1258px; width: 16px; height: 16px; } 
.sprite16-paperclip { background-position: 0 -1275px; width: 16px; height: 16px; } 
.sprite16-paste { background-position: 0 -1292px; width: 16px; height: 16px; } 
.sprite16-pause { background-position: 0 -1309px; width: 16px; height: 16px; } 
.sprite16-php { background-position: 0 -1326px; width: 16px; height: 16px; } 
.sprite16-pin_green { background-position: 0 -1343px; width: 16px; height: 16px; } 
.sprite16-pin_red { background-position: 0 -1360px; width: 16px; height: 16px; } 
.sprite16-plus { background-position: 0 -1377px; width: 16px; height: 16px; } 
.sprite16-plus2 { background-position: 0 -1394px; width: 16px; height: 16px; } 
.sprite16-printer { background-position: 0 -1411px; width: 16px; height: 16px; } 
.sprite16-projects { background-position: 0 -1428px; width: 16px; height: 16px; } 
.sprite16-projects_failed { background-position: 0 -1445px; width: 16px; height: 16px; } 
.sprite16-projects_incomplete { background-position: 0 -1462px; width: 16px; height: 16px; } 
.sprite16-projects_passed { background-position: 0 -1479px; width: 16px; height: 16px; } 
.sprite16-question_type_drag_drop { background-position: 0 -1496px; width: 16px; height: 16px; } 
.sprite16-question_type_empty_spaces { background-position: 0 -1513px; width: 16px; height: 16px; } 
.sprite16-question_type_free_text { background-position: 0 -1530px; width: 16px; height: 16px; } 
.sprite16-question_type_match { background-position: 0 -1547px; width: 16px; height: 16px; } 
.sprite16-question_type_multiple_correct { background-position: 0 -1564px; width: 16px; height: 16px; } 
.sprite16-question_type_one_correct { background-position: 0 -1581px; width: 16px; height: 16px; } 
.sprite16-question_type_true_false { background-position: 0 -1598px; width: 16px; height: 16px; } 
.sprite16-refresh { background-position: 0 -1615px; width: 16px; height: 16px; } 
.sprite16-reports { background-position: 0 -1632px; width: 16px; height: 16px; } 
.sprite16-rules { background-position: 0 -1649px; width: 16px; height: 16px; } 
.sprite16-scorm { background-position: 0 -1666px; width: 16px; height: 16px; } 
.sprite16-search { background-position: 0 -1683px; width: 16px; height: 16px; } 
.sprite16-semi_success { background-position: 0 -1700px; width: 16px; height: 16px; } 
.sprite16-shopping_basket_add { background-position: 0 -1717px; width: 16px; height: 16px; } 
.sprite16-skill_gap { background-position: 0 -1734px; width: 16px; height: 16px; } 
.sprite16-skills { background-position: 0 -1751px; width: 16px; height: 16px; } 
.sprite16-social { background-position: 0 -1768px; width: 16px; height: 16px; } 
.sprite16-start { background-position: 0 -1785px; width: 16px; height: 16px; } 
.sprite16-stop { background-position: 0 -1802px; width: 16px; height: 16px; } 
.sprite16-stop_red { background-position: 0 -1819px; width: 16px; height: 16px; } 
.sprite16-success { background-position: 0 -1836px; width: 16px; height: 16px; } 
.sprite16-surveys { background-position: 0 -1853px; width: 16px; height: 16px; } 
.sprite16-tests { background-position: 0 -1870px; width: 16px; height: 16px; } 
.sprite16-tests_failed { background-position: 0 -1887px; width: 16px; height: 16px; } 
.sprite16-tests_incomplete { background-position: 0 -1904px; width: 16px; height: 16px; } 
.sprite16-tests_passed { background-position: 0 -1921px; width: 16px; height: 16px; } 
.sprite16-theory { background-position: 0 -1938px; width: 16px; height: 16px; } 
.sprite16-theory_failed { background-position: 0 -1955px; width: 16px; height: 16px; } 
.sprite16-theory_incomplete { background-position: 0 -1972px; width: 16px; height: 16px; } 
.sprite16-theory_passed { background-position: 0 -1989px; width: 16px; height: 16px; } 
.sprite16-tools { background-position: 0 -2006px; width: 16px; height: 16px; } 
.sprite16-trafficlight_green { background-position: 0 -2023px; width: 16px; height: 16px; } 
.sprite16-trafficlight_red { background-position: 0 -2040px; width: 16px; height: 16px; } 
.sprite16-tree_indicator { background-position: 0 -2057px; width: 16px; height: 16px; } 
.sprite16-uncompress { background-position: 0 -2074px; width: 16px; height: 16px; } 
.sprite16-undo { background-position: 0 -2091px; width: 16px; height: 16px; } 
.sprite16-unit { background-position: 0 -2108px; width: 16px; height: 16px; } 
.sprite16-unlocked { background-position: 0 -2125px; width: 16px; height: 16px; } 
.sprite16-user { background-position: 0 -2142px; width: 16px; height: 16px; } 
.sprite16-user_timeline { background-position: 0 -2159px; width: 16px; height: 16px; } 
.sprite16-user_types { background-position: 0 -2176px; width: 16px; height: 16px; } 
.sprite16-users { background-position: 0 -2193px; width: 16px; height: 16px; } 
.sprite16-warning { background-position: 0 -2210px; width: 16px; height: 16px; } 
.sprite16-wizard { background-position: 0 -2227px; width: 16px; height: 16px; }
.sprite16-wizard { background-position: 0 -2227px; width: 16px; height: 16px; }


/** @todo Adicionar na tripa imagens para estas classes */
.sprite16-do_pay {
	background-position: 0 -2483px;
    height: 16px;
    width: 19px;
}

.sprite16-first { background-position: 0 -1173px; width: 16px; height: 16px; }
.sprite16-second  {background-position: 0 -1192px; width: 16px; height: 16px; }


.sprite32-add { background-position: 0 0; width: 32px; height: 32px; } 
.sprite32-addons { background-position: 0 -33px; width: 32px; height: 32px; } 
.sprite32-announcements { background-position: 0 -66px; width: 32px; height: 32px; } 
.sprite32-arrow_left { background-position: 0 -99px; width: 32px; height: 32px; } 
.sprite32-arrow_right { background-position: 0 -132px; width: 32px; height: 32px; } 
.sprite32-autocomplete { background-position: 0 -165px; width: 32px; height: 32px; } 
.sprite32-backup_restore { background-position: 0 -198px; width: 32px; height: 32px; } 
.sprite32-billboard { background-position: 0 -231px; width: 32px; height: 32px; } 
.sprite32-bookmark { background-position: 0 -264px; width: 32px; height: 32px; } 
.sprite32-branch { background-position: 0 -297px; width: 32px; height: 32px; } 
.sprite32-calendar { background-position: 0 -330px; width: 32px; height: 32px; } 
.sprite32-catalog { background-position: 0 -363px; width: 32px; height: 32px; } 
.sprite32-categories { background-position: 0 -396px; width: 32px; height: 32px; } 
.sprite32-certificate { background-position: 0 -429px; width: 32px; height: 32px; } 
.sprite32-chat { background-position: 0 -462px; width: 32px; height: 32px; } 
.sprite32-cleanup { background-position: 0 -495px; width: 32px; height: 32px; } 
.sprite32-clock { background-position: 0 -528px; width: 32px; height: 32px; } 
.sprite32-close { background-position: 0 -561px; width: 32px; height: 32px; } 
.sprite32-content { background-position: 0 -594px; width: 32px; height: 32px; } 
.sprite32-content_reorder { background-position: 0 -627px; width: 32px; height: 32px; } 
.sprite32-content_tree { background-position: 0 -660px; width: 32px; height: 32px; } 
.sprite32-continue { background-position: 0 -693px; width: 32px; height: 32px; } 
.sprite32-courses { background-position: 0 -726px; width: 32px; height: 32px; } 
.sprite32-curriculum { background-position: 0 -759px; width: 32px; height: 32px; } 
.sprite32-custom_reports { background-position: 0 -792px; width: 32px; height: 32px; } 
.sprite32-directory { background-position: 0 -825px; width: 32px; height: 32px; } 
.sprite32-edit { background-position: 0 -858px; width: 32px; height: 32px; } 
.sprite32-enterprise { background-position: 0 -891px; width: 32px; height: 32px; } 
.sprite32-error_delete { background-position: 0 -924px; width: 32px; height: 32px; } 
.sprite32-examples { background-position: 0 -957px; width: 32px; height: 32px; } 
.sprite32-exclamation { background-position: 0 -990px; width: 32px; height: 32px; } 
.sprite32-export { background-position: 0 -1023px; width: 32px; height: 32px; } 
.sprite32-facebook { background-position: 0 -1056px; width: 32px; height: 32px; } 
.sprite32-feedback { background-position: 0 -1089px; width: 32px; height: 32px; } 
.sprite32-file_explorer { background-position: 0 -1122px; width: 32px; height: 32px; } 
.sprite32-folders { background-position: 0 -1155px; width: 32px; height: 32px; } 
.sprite32-forum { background-position: 0 -1188px; width: 32px; height: 32px; } 
.sprite32-generic { background-position: 0 -1221px; width: 32px; height: 32px; } 
.sprite32-glossary { background-position: 0 -1254px; width: 32px; height: 32px; } 
.sprite32-go_back { background-position: 0 -1287px; width: 32px; height: 32px; } 
.sprite32-graduation { background-position: 0 -1320px; width: 32px; height: 32px; } 
.sprite32-hide_left { background-position: 0 -1353px; width: 32px; height: 32px; } 
.sprite32-hide_right { background-position: 0 -1386px; width: 32px; height: 32px; } 
.sprite32-home { background-position: 0 -1419px; width: 32px; height: 32px; } 
.sprite32-import { background-position: 0 -1452px; width: 32px; height: 32px; } 
.sprite32-import_export { background-position: 0 -1485px; width: 32px; height: 32px; } 
.sprite32-information { background-position: 0 -1518px; width: 32px; height: 32px; } 
.sprite32-job_description { background-position: 0 -1551px; width: 32px; height: 32px; } 
.sprite32-key { background-position: 0 -1584px; width: 32px; height: 32px; } 
.sprite32-keys { background-position: 0 -1617px; width: 32px; height: 32px; } 
.sprite32-languages { background-position: 0 -1650px; width: 32px; height: 32px; } 
.sprite32-layout { background-position: 0 -1683px; width: 32px; height: 32px; } 
.sprite32-lesson_copy { background-position: 0 -1716px; width: 32px; height: 32px; } 
.sprite32-lessons { background-position: 0 -1749px; width: 32px; height: 32px; } 
.sprite32-locale { background-position: 0 -1782px; width: 32px; height: 32px; } 
.sprite32-lock { background-position: 0 -1815px; width: 32px; height: 32px; } 
.sprite32-logout { background-position: 0 -1848px; width: 32px; height: 32px; } 
.sprite32-mail { background-position: 0 -1881px; width: 32px; height: 32px; } 
.sprite32-mailbox { background-position: 0 -1914px; width: 32px; height: 32px; } 
.sprite32-maintenance { background-position: 0 -1947px; width: 32px; height: 32px; } 
.sprite32-message { background-position: 0 -1980px; width: 32px; height: 32px; } 
.sprite32-navigate_left { background-position: 0 -2013px; width: 32px; height: 32px; } 
.sprite32-navigate_right { background-position: 0 -2046px; width: 32px; height: 32px; } 
.sprite32-note { background-position: 0 -2079px; width: 32px; height: 32px; } 
.sprite32-notifications { background-position: 0 -2112px; width: 32px; height: 32px; } 
.sprite32-options { background-position: 0 -2145px; width: 32px; height: 32px; } 
.sprite32-order { background-position: 0 -2178px; width: 32px; height: 32px; } 
.sprite32-organization { background-position: 0 -2211px; width: 32px; height: 32px; } 
.sprite32-paypal { background-position: 0 -2244px; width: 32px; height: 32px; } 
.sprite32-percent { background-position: 0 -2277px; width: 32px; height: 32px; } 
.sprite32-photo { background-position: 0 -2310px; width: 32px; height: 32px; } 
.sprite32-php { background-position: 0 -2343px; width: 32px; height: 32px; } 
.sprite32-polls { background-position: 0 -2376px; width: 32px; height: 32px; } 
.sprite32-printer { background-position: 0 -2409px; width: 32px; height: 32px; } 
.sprite32-profile { background-position: 0 -2442px; width: 32px; height: 32px; } 
.sprite32-profile_add { background-position: 0 -2475px; width: 32px; height: 32px; } 
.sprite32-projects { background-position: 0 -2508px; width: 32px; height: 32px; } 
.sprite32-question_and_answer { background-position: 0 -2541px; width: 32px; height: 32px; } 
.sprite32-reports { background-position: 0 -2574px; width: 32px; height: 32px; } 
.sprite32-rules { background-position: 0 -2607px; width: 32px; height: 32px; } 
.sprite32-schedule { background-position: 0 -2640px; width: 32px; height: 32px; } 
.sprite32-scorm { background-position: 0 -2673px; width: 32px; height: 32px; } 
.sprite32-search { background-position: 0 -2706px; width: 32px; height: 32px; } 
.sprite32-semi_success { background-position: 0 -2739px; width: 32px; height: 32px; } 
.sprite32-settings { background-position: 0 -2772px; width: 32px; height: 32px; } 
.sprite32-shopping_basket { background-position: 0 -2805px; width: 32px; height: 32px; } 
.sprite32-shopping_basket_add { background-position: 0 -2838px; width: 32px; height: 32px; } 
.sprite32-skill_gap { background-position: 0 -2871px; width: 32px; height: 32px; } 
.sprite32-skills { background-position: 0 -2904px; width: 32px; height: 32px; } 
.sprite32-social { background-position: 0 -2937px; width: 32px; height: 32px; } 
.sprite32-spacer { background-position: 0 -2970px; width: 1px; height: 1px; } 
.sprite32-start { background-position: 0 -2972px; width: 32px; height: 32px; } 
.sprite32-status { background-position: 0 -3005px; width: 32px; height: 32px; } 
.sprite32-success { background-position: 0 -3465px; width: 32px; height: 32px; } 
.sprite32-surveys { background-position: 0 -3071px; width: 32px; height: 32px; } 
.sprite32-tests { background-position: 0 -3104px; width: 32px; height: 32px; } 
.sprite32-themes { background-position: 0 -3137px; width: 32px; height: 32px; } 
.sprite32-theory { background-position: 0 -3170px; width: 32px; height: 32px; } 
.sprite32-tools { background-position: 0 -3203px; width: 32px; height: 32px; } 
.sprite32-unit { background-position: 0 -3236px; width: 32px; height: 32px; } 
.sprite32-unit_completed { background-position: 0 -3269px; width: 32px; height: 32px; } 
.sprite32-user { background-position: 0 -3300px; width: 32px; height: 32px; } 
.sprite32-user_mapping { background-position: 0 -3335px; width: 32px; height: 32px; } 
.sprite32-user_timeline { background-position: 0 -3368px; width: 32px; height: 32px; } 
.sprite32-user_types { background-position: 0 -3401px; width: 32px; height: 32px; } 
.sprite32-users { background-position: 0 -3434px; width: 32px; height: 32px; } 
.sprite32-warning { background-position: 0 -3467px; width: 32px; height: 32px; }
.sprite32-wizard { background-position: 0 -3500px; width: 32px; height: 32px; }



/* NEW ICONS */
.sprite16-arrow_down { background-position: 0px -1155px; width: 16px; height: 16px;}
.sprite16-arrow_up { background-position: 0px -1207px; width: 16px; height: 16px;}
.sprite16-money { background-position: 0 -2483px; width: 18px; height: 16px; margin-right:6px; }
.sprite16-admin { background-position: 0 -2465px; width: 16px; height: 18px; margin-right:6px; }
.sprite16-inbox { background-position: 0 -2448px; width: 18px; height: 18px; margin-right:6px; }

/* Menu Contatos*/ 

.sprite28-coordenador {background-position: 0 -989px;}
.sprite28-financeiro  {background-position: 0 -3579px;}
.sprite28-suporte {background-position: 0 -3039px;}
.sprite28-presidente {background-position: 0 -3549px;}
.sprite28-secretaria {background-position: 0 -239px;}
.sprite28-go_into {background-position: 0 -959px;}
.sprite32-warning {background-position: 0 -3467px; width: 32px; height: 32px;}

.sprite28-funcionabilidade {background-position: 0 -989px;}
.sprite28-erro  {background-position: 0 -3760px;}
.sprite28-sugest {background-position: 0 -3790px;}
.sprite28-melhoria {background-position: 0 -3820px;}