ul li ul.dropdown {
	top: 24px;
	opacity: 1.0;
}
ul li ul.dropdown li {
	margin: 0;
}

/*
*/
/*
#top-bar ul#top-menu li a {
	padding: 7px 5px 5px;
}
*/
/* COLORS */
/*
.dropdown_menu ul li {
	background: #5e9edb;
}
.dropdown_menu ul li a {
	color: #ffffff;
}
.dropdown_menu ul li:hover {
}
.dropdown_menu ul li:hover a {
	color: #ffffff;
}
.dropdown_menu ul li:hover ul li a {
	color: #eeeeee;
}
.dropdown_menu ul li:hover ul li:hover a {
	color: #ffffff;
}
*/


.dropdown_menu  ul {
/*	float: left; */
}
.dropdown_menu  ul li {
    display: block;
    float: left;
    list-style: none outside none;
    position: relative;
}
.dropdown_menu ul li a {
	height: 14px;
	padding: 12px;
	float: left;
	white-space: nowrap;
	text-decoration: none;
	display : block;
}

.dropdown_menu  > ul > li.has_dropdown > a{
	cursor: default;
}
.dropdown_menu  ul li ul.dropdown{
	position: absolute;
	top: 38px;
	min-width: 100px;
	z-index: 501;
	left:-9999px;
	zoom:1;
}
.dropdown_menu  ul li:hover ul.dropdown{
	right:auto;
	left:0px;
}
.dropdown_menu  ul li ul.dropdown li{
	margin: 0;
	width: 100%;
}

.menu-dropdown-subtitle div {
	display: none;	
    float: left;
    width: 100%;
}

