@CHARSET "UTF-8";

#wrapper {
	margin-bottom: 75px;
}

.menu ul ul {
	display: block;
	width: auto;
}
.menu ul ul li a {
	border-right: 0px;
	border-top: 0px solid;
	box-shadow: none;
}
.menu li a:hover	{ 
	height: 14px;
	
}
.menu ul ul li a:hover {
	border-right: none;
}
.menu ul {
	min-width: 150px;
}

/*Tooltip classes*/
a.info{position:relative;z-index:24;}
a.info span.tooltipSpan{display:none;}

div.infoEntry span:first-child{font-weight:bold;}

.ui-progressbar {
	height:24px; 
/*	float:left; */ 
	background:#d7d7d7; 
	margin-bottom:10px; 
	border-radius:2px; 
	box-shadow:0 0 1px #b3b3b3 inset;
}
.ui-progressbar-value {
	height:24px; 
	float:left; 
	background:#000; 
	margin-bottom:15px; 
	background-image:url(../images/percent.jpg); 
	border-radius:2px 0px 0px 2px; 
	box-shadow: 0 2px 2px #c3c3c3; 
	border: 0 none;
}

/*
.ui-progress-indicator {
    color: #FFFFFF;
    font-size: 10px;
    margin: 0 10px;
    padding: 0;
    position: relative;
    top: 21px;
}
*/

.ui-progress-indicator {
    color: #FFFFFF;
    font-size: 21px;
    margin: 0 189px;
    padding: 0;
    position: relative;
    top: 25px;
    text-align: center;
    font-weight: bold;
}

.lesson-activity-list h3 {
	display: inline-block;
    font-size: 14px;
}


.block-title {
	float: left;
	padding: 0;
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
}
/*
.blockContents {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
*/

#sortableList .blockContents {
/*	background: none repeat scroll 0 0 #FBFBFB; */
}

div.blockFooter {
	padding: 9px 0;
}
div.blockFooter .to-left{
    display: inline-block;
    text-align: left;
    width: 49%;
}
div.blockFooter .to-right{
    display: inline-block;
    text-align: right;
    width: 49%;
}
div.blockFooter img {
	vertical-align: middle;
	margin-left: 15px;
}
div.blockFooter a {
	color: #838383;
	/* font-weight: bold; */
}

div.blockFooter a.inactiveLink {
	color: #838383;
	cursor: not-allowed;
}

div.blockFooter a:hover {
	text-decoration: none;
}
div.block .title, div.block .title a {
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-top: 0;
	font-size: 25px;
	float: left;
}
div.block .title { float: left; }
div.grid_17 div.block .title, div.grid_17 div.block .title a {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 0;
}

div.grid_7 div.block .title, div.grid_7 div.block .title a {
	color: #4F4F4F;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 0;
    font-size: 15px;
}



div.message {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #C2C2C2;
    margin-bottom: 20px;
    text-align: left;
    padding: 0 20px 0 0;
	font-size: 12px;
	border-radius: 10px;
	margin-left: 0;
	width: auto;
}
div.message .messageInner {
	border-right: 1px solid #C2C2C2;
	height: 100%;
	display: inline-block;
	margin: 10px 5px 10px 0;
	padding-right: 15px;
}
div.message strong {
	text-transform: uppercase;
}
div.message img {
	margin: 0 15px;
	vertical-align: middle;
}





div.messageSuccess {
    background: none repeat scroll 0 0 #e9ffbc;
    border-color: #98d81f;
}
div.messageSuccess .messageInner {
	border-color: #98D81F;
}

div.homeStudentMessage{
	width:609px;
}

div.messageWarning {
    background: none repeat scroll 0 0 #ffe8b2;
    border-color: #e9b640;
}
div.messageWarning .messageInner {
	border-color: #e9b640;
}
div.messageInformation {
    background: none repeat scroll 0 0 #bbd7ff;
    border-color: #4c8de9;
}
div.messageInformation .messageInner {
	border-color: #4c8de9;
}
div.messageFailure {
    background: none repeat scroll 0 0 #ffc2c7;
    border-color: #fc7079;
}
div.messageFailure .messageInner {
	border-color: #fc7079;
}

table.horizontalBlock {
	vertical-align:middle;
	/* background:#FAFAFA url('../images/css_images/gradient_large.gif') repeat-x top; */
	padding:0px;
	margin:0px;
	font-size:20px;
	font-weight:bold;
	width:100%;
	border-bottom: 1px solid #ccc;
}
table.horizontalBlock td{
	vertical-align:middle;
	padding:10px 0px 10px 0px;
	white-space:nowrap;
}
table.horizontalBlock .rightOption{
	float:right;
	margin-left:5px;
}

.imgs_move {
	float: left;
}

.block-title .handles {
	float: right; 
}


.block-title .handles li { 
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #C7C7C7;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px #CCCCCC;
    cursor: move;
    display: block;
    float: left;
    height: 33px;
    padding: 0;
    /*text-indent: -10000px;*/
    width: 32px;
    margin: 0 -1px;
}
/*
.block-title .handles li.handles_combobox button {
    -moz-border-radius: 0 2px 2px 0;
    -moz-box-shadow: 0 1px 2px #CCCCCC;
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #C7C7C7;
    float: right;
    margin-left: 5px;
    padding-right: 0;
}
.block-title .handles li.handles_combobox button span {
    color: #848484;
    display: block;
    float: left;
    font-size: 11px;
    min-width: auto;
	padding: 8px 4px;
}

.block-title .handles li.handles_combobox select {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.block-title .handles li.handles_combobox:HOVER select {
    display: block;
}

.block-title .handles li.handles_combobox .handles_combobox_label {
	margin: 8px;
	float: right;
}
.block-title .handles li.handles_combobox img {
	float: right;
}
*/
.block-title .handles li a { 
	display: block; 
	color: #333333; 
	text-decoration: none;
	padding: 8px 6px;
}
/*
.block-title .handles li img {
    background-image: url("../images/icon_16x16.png");
    margin: 8px;
    float: left;
}
*/

.handles_combobox {
    border: medium none;
    height: auto;
    
    width: auto;
}
.block-title .handles .handles_combobox li {
	width: 100%;
	text-indent: 0;
}





.handles_combobox  ul {
	float: left;
}
.handles_combobox  ul li {
    display: block;
    float: left;
    list-style: none outside none;
    position: relative;
}
.handles_combobox ul li a {
	height: 14px;
	padding: 10px;
	float: right;
	white-space: nowrap;
	text-decoration: none;
	display : block;
	
}
.handles_combobox  ul li ul.dropdown{
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 1px 2px 2px #888888;
    background: url("../images/bck_white_95.png") repeat scroll 0 0 transparent;
}

.handles_combobox  ul li ul.dropdown li {
	background: transparent;
}
.handles_combobox  ul li ul.dropdown li a {
	/*
    background: url("../images/arrow_sm_grey.gif") no-repeat scroll 12px 10px transparent !important;
    */
    color: #959595 !important;
    font-weight: normal;
    /*padding: 4px 12px 4px 22px !important;*/
    /*text-shadow: none !important;*/
    float: none;
    text-align: center;
}
.handles_combobox  ul li ul.dropdown li a:hover {
	color: #333333 !important;
}


.handles_combobox  > ul > li.has_dropdown > a{
	cursor: default;
	float: right;
}
.handles_combobox ul li ul.dropdown {
    top: 33px;
    position: absolute;
	min-width: 100px;
	z-index: 501;
	right:9999px;
	zoom:1;
}
.handles_combobox  ul li:hover ul.dropdown{
	right:0;
}
.handles_combobox button:focus ul.dropdown, .handles_combobox button:hover ul.dropdown{
	left:auto;
}
.handles_combobox  ul.dropdown li{
	margin: 0;
	text-indent: 0;
    width: 100%;
	float: left;
	height: auto;
}
.handles_combobox  ul li ul.dropdown li {
    margin: 0;
    width: 100%;
}
.handles_combobox .combox-title {
	
}
.handles_combobox  ul li ul.dropdown li.combox-title a {
	font-weight: bold;
	cursor: default;
	color: #333333 !important;
}	

body#index_page { background: url(../images/login_bg.jpg); text-align: left;}
body#index_page input { width:370px; height:20px; border:none; background:#eaeaea; box-shadow:0 0px 1px #666666 inset; margin-bottom:10px; border-radius:3px; padding:5px; color:#666; font-size:10px;}
body#index_page .login_corpo {width:421px; margin:80px auto; border:5px solid #fff; border-radius:2px; box-shadow: 0 0 1px #666;}
body#index_page .login_top {width:381px; margin:20px; border-bottom:1px solid #ccc; padding-bottom:20px;}
body#index_page .login_centro {width:381px; margin:20px; border-bottom:1px solid #ccc;padding-bottom:46px;}
body#index_page .login_footer {width:381px; margin:20px; padding-bottom:20px;}
body#index_page .login_footer input {width:20px; height:20px; float:left;}
body#index_page .login_fotter p {color: #848484; float: left;font-size: 11px; margin: 6px 0 0;}
body#index_page .event-conf { 
	-moz-border-radius: 0px 2px 2px 0px; 
	-webkit-border-radius: 0px 2px 2px 0px; 
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #c7c7c7;
    float: right;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	margin-left:5px;
	min-width:95px;
}
body#index_page .event-conf:hover { 
	background: -moz-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

body#index_page .event-conf img { float:left; margin-right:8px; margin-left: -6px; margin-top: 0px; margin-top:2px;}

/*Hack CSS para o Google Chrome e Safari*/   
@media screen and (-webkit-min-device-pixel-ratio:0){
   body#index_page .event-conf img { float:left; margin-right:8px; margin-left: -5px; margin-top: -1px;}
}

body#index_page .event-conf span {
    display: block;
    padding: 0;
	padding:8px 0 8px 0;
	float:left;
	font-size:11px;
	color:#848484;
	min-width:44px;
}
body#index_page .imgs_cont { background: url(../images/login_icon_28x28.png) 0 449px; }

html {
	background: transparent;
}

/* BUTTONS */
.buttons {
	margin-top: 15px;
	text-align : center;	
}
.buttons button { 
	-moz-border-radius: 0px 2px 2px 0px; 
	-webkit-border-radius: 0px 2px 2px 0px; 
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #c7c7c7;
/*    float: right; */
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	margin-left:5px;
	min-width:95px;
}

.buttons button:hover { 
	background: -moz-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(top, #e9e9e9 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.buttons button img { float:left; margin-right:8px; margin-left: -6px; margin-top: 0px;}

/*Hack CSS para o Google Chrome e Safari*/   
@media screen and (-webkit-min-device-pixel-ratio:0){
   .buttons button img { float:left; margin-right:8px; margin-left: -5px; margin-top: -1px;}
}

.buttons button span {
    display: block;
    padding: 0;
	padding:8px 0 8px 0;
	float:left;
	font-size:11px;
	color:#848484;
	min-width:44px;
}


.inactiveImage, .inactiveImage img{opacity:0.2;filter:alpha(opacity=20);}

/*autocomplete div*/
div.autocomplete {
	background: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 3;
	white-space: normal;
	overflow: auto;
	max-height: 400px;
}

div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul li.selected {
	background: #ffffbb;
}

div.autocomplete ul li {
	cursor: pointer;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

input.autoCompleteTextBox {
	width: 50%;
}
