/*
.block-title {
	padding: 10px 2px 2px;
}
*/
.block-title {
	/*
	padding-bottom:4px;
	padding-left:3px;
	padding-right:2px;
	padding-top:10px;
	*/
}
/*
.blockContents {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
*/
.blockContents {
	background-attachment:scroll;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:none;
	background-origin:initial;
	background-position:0 0;
	background-repeat:repeat repeat;
	border-bottom-color:#C2C2C2;
	border-bottom-left-radius:5px 5px;
	border-bottom-right-radius:5px 5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#C2C2C2;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#C2C2C2;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#C2C2C2;
	border-top-left-radius:5px 5px;
	border-top-right-radius:5px 5px;
	border-top-style:solid;
	border-top-width:1px;
}


div.blockContents {
	border-bottom-color:#CCCCCC;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#CCCCCC;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#CCCCCC;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#CCCCCC;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:8px;
	padding-left:10px;
	padding-right:10px;
	padding-top:0;
}

#sortableList .blockContents {
	background: none repeat scroll 0 0 #FBFBFB;
}

div.blockFooter {
	padding: 9px 0;
}
div.blockFooter .to-left{
    display: inline-block;
    text-align: left;
    width: 49%;
}
div.blockFooter .to-right{
    display: inline-block;
    text-align: right;
    width: 49%;
}
div.blockFooter img {
	vertical-align: middle;
	margin-left: 15px;
}
div.blockFooter a {
	color: #838383;
	/* font-weight: bold; */
}

div.blockFooter a.inactiveLink {
	color: #838383;
	cursor: not-allowed;
}

div.blockFooter a:hover {
	text-decoration: none;
}
div.block .title, div.block .title a {
    color: #006699;
    font-size: 18px;
    font-weight: bold;
}


div.message {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #C2C2C2;
    margin-bottom: 10px;
}
div.message .messageInner {
	border-right: 1px solid #C2C2C2;
	height: 100%;
	display: inline-block;
	margin: 10px 5px 10px 0;
	padding-right: 15px;
}
div.message strong {
	text-transform: uppercase;
}
div.message img {
	margin: 0 15px;
	vertical-align: middle;
}





div.messageSuccess {
    background: none repeat scroll 0 0 #e9ffbc;
    border-color: #98d81f;
}
div.messageSuccess .messageInner {
	border-color: #98D81F;
}
div.messageWarning {
    background: none repeat scroll 0 0 #ffe8b2;
    border-color: #e9b640;
}
div.messageWarning .messageInner {
	border-color: #e9b640;
}
div.messageInformation {
    background: none repeat scroll 0 0 #bbd7ff;
    border-color: #4c8de9;
}
div.messageInformation .messageInner {
	border-color: #4c8de9;
}
div.messageFailure {
    background: none repeat scroll 0 0 #ffc2c7;
    border-color: #fc7079;
}
div.messageFailure .messageInner {
	border-color: #fc7079;
}

table.horizontalBlock {
	vertical-align:middle;
	/* background:#FAFAFA url('../images/css_images/gradient_large.gif') repeat-x top; */
	padding:0px;
	margin:0px;
	font-size:20px;
	font-weight:bold;
	width:100%;
	border-bottom: 1px solid #ccc;
}
table.horizontalBlock td{
	vertical-align:middle;
	padding:10px 0px 10px 0px;
	white-space:nowrap;
}
table.horizontalBlock .rightOption{
	float:right;
	margin-left:5px;
}
table.horizontalBlock .leftOption{
	margin-left:5px;
	color: #006699;
}





