/***
Login page
***/

/* logo page */
.login {
  background-color: #333 !important;
}

.login .logo {
  margin: 0 auto;
  margin-top:60px;
  padding: 15px;
  text-align: center;
}
.contentcopyright {
  /*width: 440px;*/
  margin: 0 auto;
  position: relative;
}
.login .content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34aada+0,8acae5+25,488fba+51,32363a+100&0.8+0,0.8+100 */
  /*background: -moz-linear-gradient(top,  rgba(52,170,218,0.8) 0%, rgba(138,202,229,0.8) 25%, rgba(72,143,186,0.8) 51%, rgba(50,54,58,0.8) 100%);*/ /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top,  rgba(52,170,218,0.8) 0%,rgba(138,202,229,0.8) 25%,rgba(72,143,186,0.8) 51%,rgba(50,54,58,0.8) 100%);*/ /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom,  rgba(52,170,218,0.8) 0%,rgba(138,202,229,0.8) 25%,rgba(72,143,186,0.8) 51%,rgba(50,54,58,0.8) 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc34aada', endColorstr='#cc32363a',GradientType=0 );*/ /* IE6-9 */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.55) 0%, rgba(229,229,229,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.55) 0%,rgba(255,255,255,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.55) 0%,rgba(255,255,255,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */  

  width: 293px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 20px;
  position: relative;
}
.login .btn i {
  font-size: 16px !important;
  padding-left: 7px;
  padding-right: 8px;
  float: left;
}
.login .content h3 {
  color: #000;
}
.login .content h4  {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .input-icon .form-control {
  border-left: 0;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 10px 30px 0 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 0;
  width: 115.99999999%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: lighter;
  position: relative;
  left: -20px;
  float: left !important;
  text-align: left;
  letter-spacing: 0.6px;
  padding: 10px 14px;
  opacity: 0.8;
}

.login .content .forget-password {
  margin-top: 19px;
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
}
.login .content .forget-password a {
  color: #000;
  font-weight: lighter;
  text-decoration: none;
  letter-spacing: 0.7px
}
.login .content .forget-password a:hover {
  color: #666;
}
.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
  border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
  border-left: none !important;
}

.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top:1px;
  margin: 4px 4px 0px 3px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

.login .content .inside-logo {
  margin: 15px 5px 35px 5px;
  height: 70px;
  position: relative;
}
.login .content .inside-logo img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  font-size: 12px;
  color: #000;
  border-top: none;
  font-weight: lighter;
/*  text-shadow: 1px 1px 0px #000; */
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding1: 20px;
    width: 280px;
  }

  .login .content h3 {
    font-size: 22px;
  }


  .login .checkbox {
    font-size: 13px;
  }
}
