<?xml version="1.0" ?>
<module>
	<title>eXtended CMS Module</title>
	<author>André Kucaniz</author>
	<date>2011 08 15</date>
	<version>0.1</version>
	<description>Este módulo que disponibiliza paginas, através de blocos exportados por outros módulos</description>
	<className>module_xcms</className>
</module>
