<?xml version="1.0" ?>
<module>
	<title>eXtended Skill Module</title>
	<author>André Kucaniz</author>
	<date>2011 11 30</date>
	<version>0.1</version>
	<description>Este módulo faz o gerenciamento de habilidades, controlando os pré-requisitos para conteúdos, disciplinas e cursos; e quais são as habilidades conquistadas.</description>
	<className>module_xskill</className>
</module>
