/* here you can put your own css to customize and override the theme */

.well .pagination {
    margin: -9px 0 0;
}

hr {
	margin: 10px;

}
.full-height {
	height: 100%;
}

@media (max-width: 767px) {

	.page-boxed .header .dropdown .username {
		display: none;
	}	

}

.portlet > .portlet-title > .tools > a.search {
  	margin-bottom: 2px;
/*  background-image:url(../img/portlet-fullscreen-icon.png); */
	top: -3px;
	width: 14px;
	color: gray;
}
.portlet.box > .portlet-title > .tools > a.search,
.portlet.solid > .portlet-title > .tools > a.search {
	color: white;
	text-decoration: none;
}

.portlet > .portlet-title > .tools > a.fullscreen {
  	margin-bottom: 2px;
/*  background-image:url(../img/portlet-fullscreen-icon.png); */
	top: -3px;
	width: 14px;
	color: gray;
}
.portlet.box > .portlet-title > .tools > a.fullscreen,
.portlet.solid > .portlet-title > .tools > a.fullscreen {
/*  background-image:url(../img/portlet-fullscreen-icon-white.png); */
	color: white;
	text-decoration: none;
}

.portlet > .portlet-title > .tools > a.normalscreen {
  margin-bottom: 2px;
  top: -3px;
  width: 14px;
  color: gray;
}
.portlet.box > .portlet-title > .tools > a.normalscreen,
.portlet.solid > .portlet-title > .tools > a.normalscreen {
	color: white;
	text-decoration: none;
}

.popover-content {
    padding: 9px 5px;
}

.chats li .title {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.chats li.out {
	margin-bottom: 20px;
}

/* MODULES CSS */
#news-lastest .username-badge {
	display: none;
}
.portlet-fullscreen#news-lastest .username-badge {
	display: block;
}

#off-windows {
	width: 100%;
	position: fixed;
	bottom: 0;
}
.chat-widget {
	float: right;
	margin-left: 5px;
    margin-right: 0;
	width: 250px;
	min-height: 1px;
}

.chat-widget .portlet {
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    width: 250px;
    z-index: 101;
}

.chat-widget li:first-child {
	padding-top: 5px;
}
.chat-widget .send-block {
	margin-top: 10px;
	padding-right: 10px;
}
.chat-widget .portlet-body {
	padding-right: 0 !important;
	padding-top: 0 !important;
}