.sectionOption nav ul li a.optionLinkImage.optionLink-group span {
	background-position: 4px -98px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-profile_one span {
	background-position: -101px -94px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-profile_two span {
	background-position: -207px -97px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-group_two span {
	background-position: -312px -95px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-file span {
	background-position: -419px -96px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-home span {
	background-position: -525px -95px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-building span {
	background-position: 5px -216px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-refresh span {
	background-position: -103px -216px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-transf_data span {
	background-position: -208px -219px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-graph span {
	background-position: -314px -216px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-archive span {
	background-position: -421px -218px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-block span {
	background-position: 5px -409px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-books span {
	background-position: -100px -408px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-pencil span {
	background-position: -204px -408px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-gear span {
	background-position: -309px -409px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-chat span {
	background-position: -414px -408px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-tool span {
	background-position: 5px -602px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-mask span {
	background-position: -100px -602px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-cash span {
	background-position: -204px -604px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-idiom span {
	background-position: -523px -214px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-grade span {
	background-position: -521px -403px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-ed_screen span {
	background-position: -316px -603px;
}

.sectionOption nav ul li a.optionLinkImage.optionLink-request span {
	background-position: -421px -218px
}

.sectionOption nav ul li a.optionLinkImage.optionLink-xlivechat span {
	background-position: -414px -408px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-news span {
	background-position: -405px -600px;
}
.sectionOption nav ul li a.optionLinkImage.optionLink-content span {
	background-position: -500px -600px;
}

.sectionOption nav ul li a.optionLinkImage.optionLink-quick_mails span {
	background-position: -414px -408px;
}
