@import url("/css/960gs/fixed/24columns.css");
* {
	font-family:Helvetica,Arial,sans-serif;
}
body{
	background: none repeat scroll 0 0 #EBEBEB;
}
ul {
	padding: 0;
	margin: 0;
}
/*
#wrapper {
	margin-bottom: 35px;
}
*/

/* reset.css */

    
input,select,textarea {
    height: 22px;
    margin: 4px 0 1px;
}
.rss-title {
	color: #000 !important;
}
