@CHARSET "UTF-8";

.blockContents label{
	display: inline-block;
	font-size: 1.0em;
	font-weight: bold;
/*	color:#333; */
	margin-bottom:5px;
	clear: both;
}	

.blockContents label small{
	font-size:0.9em;
/*	color:#666; */
}

.blockContents input, .blockContents select{
/*	display:block; */
/*	border:1px solid #b5b8bb; */
/*	background-color:#e7edef; */
/*	height:1.8em; */
	margin: 0 6px 4px 0;
	/*
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	*/
	/* text-indent:5px; */
}


.blockContents input:hover,
.blockContents textarea:hover{
/*	border-color:#777; */
}
.blockContents input:focus,
.blockContents textarea:focus{
/*	border-color:#444; */
}

.blockContents input.small, .blockContents textarea.small{
	width:20%;
}
.blockContents input.medium, .blockContents textarea.medium{
	width:35%;
}
.blockContents input.large, .blockContents textarea.large{
	width:70%;
}

.blockContents .input_group{
	margin-bottom: 15px;
}

button{
	padding: 0px 0px;
/*	margin-bottom:4px; */
	margin-right:8px;
/* 	border: 1px solid transparent; */
	/*
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	*/
/*	color: #fff; */
/*	float:left; */
    white-space:nowrap;
    width:auto;
    overflow:visible;
}
button img{
	display:inline-block;
	margin: 0;
/*	width:24px; */
	vertical-align: middle;
}

button span{
	display:inline-block;
	text-transform:capitalize;
	margin:-2px 5px 0 5px;
}


#button_display button {
	float:left;
}

.button_display button{
    display: inline-block;
    float: none;
    margin: 4px 0;
}
.button_display button img{
	width: auto;
}

#button_display button span, .button_display button span{
	display:none;
}

#button_display{
	padding-bottom:0px;
}
/*
table.static .button_display{
    float: left;
}
*/
.button_display{
    margin: 0;
    padding-bottom: 0;
    width: 100%;
}

#button_display .block, .button_display .block {
	padding-bottom:0px;
	padding-right: 0px;
	padding-top: 20px;
}



.blockContents textarea{
	display:block;
/*	border:1px solid #b5b8bb; */
/*	background-color:#e7edef; */
	margin-bottom:15px;
	height:100px;
	padding:5px 0;
	/*
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	*/
	text-indent:5px;
}

.block label{
	display:block;
	font-size: 1.0em;
	font-weight: bold;
	color:#333;
	margin-bottom:5px;
	clear: both;
}	

.block label small{
	font-size:0.9em;
	color:#666;
}

.block input, .box .block select{
	display:block;
	border:1px solid #b5b8bb;
	background-color:#e7edef;
	height:1.8em;
	margin-bottom:15px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/* text-indent:5px; */
}


.block input:hover,
.block textarea:hover{
	border-color:#777;
}
.block input:focus,
.block textarea:focus{
	border-color:#444;
}

.block input.small, .box .block textarea.small{
	width:20%;
}
.block input.medium, .box .block textarea.medium{
	width:35%;
}
.block input.large, .box .block textarea.large{
	width:70%;
}

.block .input_group{
	margin-bottom: 15px;
}